<h1>Edit user</h1>
<div class="kill-form">
  <div class="edit_user">
<%=form_for(@user) do |f|%>
  <%=render 'shared/error_messages'%><br/>

  <%=f.label :name%>
  <%=f.text_field :name%><br/>


  <%=f.label :password%>
  <%=f.password_field :password%><br/>

  <%=f.label :password_confirmation,"Confirm"%>
  <%=f.password_field :password_confirmation%><br/>


  <%=f.submit "Save changes",class: "btn btn-large btn-primary"%><br/>
<%end%>
</div>
</div>
