<h1>Users</h1>

<ul>
<% @users.each do |user|%>
  <li>
  <%=user.id%><br/>
  name:<%=link_to user.name.to_s,users_info_path(user.id) %> 
  <%= user.users_info.photo.html_safe %> </br>

  <%if signed_in?%>
  <%if current_user.admin? && !current_user?(user)%>
    |<%=link_to "delete",user,method: :delete,data:{confirm:"You sure?"}%>
  <%end%>
 <h1>email:</h1><h2><%=user.email%></h2><br/>
 
<%end%>
<br/>


 </li>
  -------------------------------------------
<%end%>
</ul>

