  <div class="media_back">
  
    <div class="media_no">
      <%= a = medium.created_at.to_s(:db).split %><br/>
      <%= a[0]%><br/>
      <%= a[1]%><br/>
    </div>
   
    <div class="media_id">
      <%=medium.media_id%><br/>
      <%=medium.user_id%>
    </div>
    
    <div class="media_content">
      <%=medium.content.html_safe%>
    </div>

  </div>

